.banner{
    margin: 2em;
}

.banner__title{
    color: var(--branco);
    font-family: var(--fonte);
    font-size: 24px;
    font-weight: 900;
}

.banner__text{
    color: var(--branco);
    font-family: var(--fonte);
    margin-top: 1em;
    font-size: 18px;
    max-width: 50%;
}