<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <h1 class="header__title">MovieFlix</h1>
        <ul class="header__list">
            <li class="header__list-item"><a href="#" class="header__link">Favoritos</a></li>
            <li class="header__list-item"><a href="#" class="header__link">Perfil</a></li>
        </ul>
    </header>
    <section class="banner">
        <h2 class="banner__title">Filmes</h2>
        <p class="banner__text">Assustadores, engraçados, dramáticos, românticos... Nada como um filme para mexer com nossas emoções! Não faltam títulos e experiências esperando por você.</p>
    </section>
    
</body>
</html>